html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* variables */
:root {
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		--color-text: black;
		--color-link: blue;
		--color-bg: #b2b2b25c;
		--color-border: white;
		--color-tone: #ff00ff;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color-text: white;
		--color-link: #ff00ff;
		--color-bg: transparent;
		--color-border: #b2b2b25c;
		--color-tone: #00ff00;
	}
}

/* animations */
@keyframes Float {
	0% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(35%);
	}
}

/* default elements */
html {
	font-size: 16px;
	line-height: 1.4;
	min-height: 100vh;
}
body {
	margin: 0;
	color: var(--color-fg);
	overflow: hidden;
}

a,
a:visited {
	color: var(--color-link);
	text-decoration: none;
}

/* a { */
/*		padding: 0.3rem; */
/*		animation: BorderStyle 3s infinite; */
/*		animation-direction: alternate; */
/*		animation-fill-mode: both; */
/* } */
h1,
h2 {
	margin-top: 0;
}
h1 {
	font-size: 1.6rem;
}
h2 {
	font-size: 1.3rem;
}
img {
	display: block;
	width: 100%;
}

.a-enter-vr,
.a-orientation-modal {
	display: none;
}

/* site styles */
vr-world {
	opacity: 0;
	transition: opacity 500ms ease-in-out;
}
html.a-fullscreen vr-world,
html.a-fullscreen ls-reader,
html.a-fullscreen .Widget {
	opacity: 1;
}
html.a-fullscreen ls-interface {
	transition-delay: 800ms;
}

.Site.is-logoHover ls-interface {
	opacity: 0;
}

.Site {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	position: relative;
	z-index: 1;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}
.Site[is-loaded] {
	opacity: 1;
}

.SiteLogo {
	max-width: 4rem;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	padding: 0.5rem;
}

vr-world {
	z-index: -1;
}

/* a-scene js component */
a-scene {
	z-index: 0;
}

ls-interface-panel[role="reader"] {
	overflow-y: auto;
	/* scrollbar-width: none; */
	/* -ms-overflow-style: none; */
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	order: 1;
	height: 100%;
}
ls-interface-panel[role="player"] {
	display: none;
	order: 2;
	opacity: 1;
	transition: transform 200ms ease-in-out;
	max-height: 100vh;
	transform: translateX(100%);
	padding: 1rem;
	position: sticky;
	bottom: 0;
}
ls-interface-panel[role="player"] radio4000-player {
	opacity: 0.8;
	max-height: 40vmin;
	min-height: 100%;
}
@media (min-width: 60rem) {
	ls-interface-panel[role="player"] {
		width: 0;
		order: 2;
	}
	ls-interface-panel[role="player"] radio4000-player {
		max-height: 40rem;
		order: 1;
	}
}

body[is-player] ls-interface-panel[role="player"] {
	transform: translateX(0);
	display: flex;
	width: 100%;
	align-items: center;
}
body[is-player] radio4000-player {
	display: flex;
	min-height: 300px;
}
radio4000-player .ProviderPlayer,
radio4000-player .Layout-aside {
	min-height: 100px !important;
}
@media (min-width: 60rem) {
	body[is-player] ls-interface-panel[role="player"] {
		position: static;
		padding: 2rem;
		opacity: 1;
		height: 100%;
	}
}

/* Native dom elements */
i {
	font-style: italic;
}
strong {
	font-weight: bold;
}

h1 {
	font-size: 2em;
}
p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
}

button[is="radio4000-player-stop"] {
	position: absolute;
	top: 0px;
	left: 2px;
	z-index: 1;
}
/* components */
.Widget {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 800ms ease-in-out;
}
discogs-release {
	margin-bottom: 0.3rem;
	display: flex;
}
discogs-label-releases {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

discogs-label nav {
	display: flex;
	flex-direction: column;
}

ls-interface {
	background-color: var(--color-bg);
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
}
@media (min-width: 60rem) {
	ls-interface {
		flex-direction: row;
	}
}
@media (min-width: 60rem) {
	ls-interface-panel[role="player"] {
		max-width: 30rem;
	}
	radio4000-player {
		height: 100% !important;
	}
}
ls-reader {
	width: 100%;
	max-width: 40rem;
	display: flex;
	flex-direction: column;
	/* padding: 1rem; */
	transition: transform 300ms ease-in-out,
	opacity 400ms ease-in-out,
	max-height 400ms ease-in-out;
	transition-delay: 200ms;
	transform: translate2d(50%, -50%) scale(0.5);
	opacity: 0;
	max-height: 0;
	overflow-y: auto;
	scrollbar-width: thin;
}
ls-reader[is-visible] {
	transform: translate2d(0, 0) scale(1);
	opacity: 1;
	max-height: 100%;
}
ls-reader[route="/"] {
	flex-grow: 1;
}

discogs-release a {
	padding: 0.2rem;
	padding-top: 0.7rem;
	background-color: var(--color-bg);
	border: 1px solid transparent;
	transition:
		border-color 200ms ease,
		background-color 111ms ease;
}
discogs-release a:hover {
	border-color: var(--color-link);
	background-color: transparent;
}

discogs-label {
	padding: 0.5rem;
}

discogs-release main {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
}
discogs-release button {
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--color-border);
	transition:
		background-color 300ms ease-in-out,
		border-color 300ms ease-in-out;
	padding-left: 1rem;
	padding-right: 1rem;
	color: var(--color-text);
	margin-left: 0.2rem;
}
discogs-release button:hover {
	cursor: pointer;
	background-color: var(--color-bg-light);
	border-color: var(--color-link);
}

nav {
	display: flex;
	flex-wrap: wrap;
}
nav a {
	padding: 0.3rem;
	display: flex;
}

nav a:hover {
	background-color: var(--color-bg);
}

nav[role="main"] {
	padding: 0.5rem;
	flex-direction: row;
}
@media (min-width: 60rem) {
	nav[role="main"] {
		flex-direction: column;
	}
}

/* matrix room element for news */
matrix-room-element {
	transition: background-color 200ms ease-in-out;
	color: var(--color-tone);
}
matrix-room-element:not([room-info]) {
	background-color: var(--color-tone);
	filter: invert(1);
}
matrix-room-element,
matrix-room-state {
	display: flex;
	flex-direction: column;
}
/* dont display,
   - panignation */
matrix-room-element button[dir="after"],
matrix-room-element button[dir="before"],
/* room state topic/name */
matrix-room-name,
matrix-room-topic {
	display: none;
}
matrix-event {
	display: flex;
	flex-direction: column;
}
matrix-event-text h1 {
	margin-bottom: 0;
}
matrix-room-state {
	/* margin-bottom: 1rem; */
}
